hr {
    color: rgb(185,100,39);
}

header {
    text-align: center;
    border: dashed 3px rgb(185,100,39);
    margin: 5px;
}

.infoPanel {
    width: 16%;
    position: absolute;
}

#infoMain {
    border: dashed 3px rgb(185,100,39);
    padding: 5px;
    margin: 5px ;
}

#infoOre {
    border: dashed 3px rgb(185,100,39);
    padding: 5px;
    margin: 5px ;
}

#infoAlloys {
    border: dashed 3px rgb(185,100,39);
    padding: 5px;
    margin: 5px ;
}

#resourceManagement {
    margin: 5px;
    position: fixed;
    right: 5px;
    text-align: center;
}

#equipment {
    margin: 5px;
    position: fixed;
    right: 98px;
    top: 140px;
    text-align: center;
}

.infoText {
    color: rgb(185,100,39);
}
.akcent {
    color: rgb(73,40,12);
    font-weight: bold;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color:  rgb(21,10,3);
    color: rgb(185,100,39);
    margin: 100px, 20px, 100px, 20px;
}

.loadingBar {
    color: white;
    background-color: rgb(73,40,12);
}

button {
    width: 165px;
    height: 35px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(21,10,3);
    color: rgb(185,100,39);
    border: dotted 3px rgb(185,100,39);
    padding: 5px 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: rgb(73,40,12);
}