hr {
    color: rgb(185,100,39);
}

header {
    text-align: center;
    border: dashed 3px rgb(185,100,39);
    margin: 5px;
}

.infoPanel {
    width: 16%;
    position: absolute;
    left: 8px;
}

.marketPanel {
    border: dashed 3px rgb(185,100,39);
    width: 22%;
    position: absolute;
    right: 8px;
    top: 69px;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

#operations {
    position: relative;
    top: 25px;
}

#infoMain {
    border: dashed 3px rgb(185,100,39);
    padding: 5px;
    margin: 5px ;
}

#infoOre {
    border: dashed 3px rgb(185,100,39);
    padding: 5px;
    margin: 5px ;
}

#infoAlloys {
    border: dashed 3px rgb(185,100,39);
    padding: 5px;
    margin: 5px ;
}

#resourceManagement {
    text-align: center;
}

#equipment {
    text-align: center;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color:  rgb(21,10,3);
    color: rgb(185,100,39);
    margin: 100px, 20px, 100px, 20px;
}

#resourceManagement button {
    width: 165px;
    height: 35px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(21,10,3);
    color: rgb(185,100,39);
    border: dotted 3px rgb(185,100,39);
    padding: 5px 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#equipment button {
    width: 165px;
    height: 35px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(21,10,3);
    color: rgb(185,100,39);
    border: dotted 3px rgb(185,100,39);
    padding: 5px 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#market button {
    width: 100px;
    height: 35px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(21,10,3);
    color: rgb(185,100,39);
    border: dotted 3px rgb(185,100,39);
    padding: 5px 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#resourceManagement #equipment #sellButtons button:hover {
    background-color: rgb(73,40,12);
}